

  .page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  
  .layout {
    margin-left: -1rem;
    margin-right: -1rem;
    width: 70%;
  }
  .layout--cart {
    margin-left:1rem;
    margin-top: 5rem;
    width: 30%;
  }
  .cartheading{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;;
    border-bottom: 1px solid gray;
  }
  
  