
  .band{
    background: linear-gradient(220deg,#EC5252 -10%,#6E1A52 70%);
    height:80px;
    width: 100vw;
    margin-bottom:1rem;
    margin-left:-1rem;
    margin-top:1rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
  }
  
  .layout {
    margin-left: -1rem;
    margin-right: -1rem;
    width: 100%;
    
  }
  .layout--courses {
    width: 100%;
    display: flex;
  }
  .layout--cart {
    margin-left:1rem;
    margin-top: 5rem;
    width: 30%;
  }
  .cartheading{
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;;
    border-bottom: 1px solid gray;
  }
  
  