.layout__item {
  padding: 0 1rem;
  
}
.layout__item--cart{ 
  margin-top:1rem; 
  margin-left: 1rem
}

.course-card {  
  color: #29303b;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-top: 1px solid #dedfe0;
  padding:1rem;
  padding-left: 0px;
  padding-top:0px;
  font-size: 1.5rem;
}

.course-card--cart{
  padding-bottom: 1rem;
}

.course-card__image {
  width: 20%;
  height: auto;
  padding: 1rem 0rem;
  background-color: var(--color-grey-light-2);
}

.course-card__image img {
    display: block;
    width: 100%;
  }

.course-card__content {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 80%;
  font-size: inherit;
  color: var(--color-grey-dark-1);
  align-self: flex-start;
  padding-top: 2rem;
}

.course-card__detail{
  padding-right:1rem ;
}
.course-card__description{
  font-size: 12px;
  padding-right:1rem ;
}
.course-card__author{
  font-size: 12px;
}
.course-card__content h4{
  font-size:18px;
  margin: 0;
 ;
}
.course-card__content--cart h1 {
  font-size:1rem;
}

.course-card__metadata{  
  display:flex;
  color:gray;
  font-size: 12px;;
  margin: 1rem 0rem;
}
.course-card__metadata p{  
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.course-card .course-card__button {
  visibility: visible;
}

.course-card:hover{
  background-color: #f7f8fa;
}
.course-card:hover .course-card__button {
  visibility: visible;

}

.course-card__button button {
  background-color: var(--color-light-blue-1);
  box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
}

.course-card__button button:active{
  transform: translateY(2px);
  outline: none;
}
.course-card__button--cart button{
  font-size: 12px;
  padding: 8px 5px;
}
