.header{
    display: flex;
    justify-content: space-between;
    height:7rem;
    /* margin-top: 2rem; */
    /* padding-bottom: 2rem; */
    border-bottom: 1px solid var(--color-grey-light-1);
}
.logo{
    margin-left: 2rem;
    height: 4rem;
}

