.search{
    flex:0 0 40%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    position: relative;
    /* background-color: orangered; */
    /* box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1); */
}

.buttonContainer{
    width:30%;
    background-color: palegreen;
    /* position: absolute;
    right: 4%;
    top: 1%; */
}

.search__input{
    width: 90%;
    background-color: var(--color-grey-light-2);
    border-radius: 100px;
    margin-right: -3.25rem;
    font-size: initial;
    border: none;
    cursor: pointer;
    padding:.7rem 2rem;
    transition: all .2s;
}
.search__input:focus{
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
    font-weight: 100 ;
    color:var(--color-grey-dark-3);
}

.search__button{
    border: none;
    background-color: var(--color-grey-light-2);
    /* font-size: 1rem;    */
}

.search__button:focus{
    outline: none;
    background-color: var(--color-grey-light-3);
}

.search__button:active{
    transform: translateY(2px);
}
.search__icon{
    width: 2rem;
    height: 2rem;
    fill: var(--color-light-red-1);
}

.search-box .dropdown-menu{
    text-align: center;
    list-style: none;
    position:absolute;
    top: 100%;
    right:19%;
    z-index: 1000;
    min-width: 125px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 15px;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
}

.search-box .dropdown-menu li{
    padding: .5rem;;
}